<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00am</td>        <!-- time    -->
        <td>Welcome and Introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:30-10:30</td>        <!-- time    -->
        <td>Topic 1</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30-10:45</td>        <!-- time    -->
        <td>Coffee Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:45-12:00</td>        <!-- time    -->
        <td>Topic 2</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00-13:00</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>13:00-14:30</td>        <!-- time    -->
        <td>Topic 3</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:30-14:45</td>        <!-- time    -->
        <td>Coffee Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:45-16:00</td>        <!-- time    -->
        <td>Topic 4</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>16:00-16:15</td>        <!-- time    -->
        <td>Coffee Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>16:15-16:45</td>        <!-- time    -->
        <td>Topic 5</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
